.about {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-missing {
    margin-top: 50px;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #306EF7;
}
.about-missing-info {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-missing-info-title {
    font-weight: 600;
    font-size: 75px;
    line-height: 112px;
}
.about-missing-info-subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}
.about-missing-info-text {
    margin-top: 90px;
    width: 1150px;
    text-align: left;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
}
.about-missing-info-text p {
    margin-top: 30px;
}
hr {
    margin-top: 50px;
    border: 1.5px solid #828282;
    height: 2px;
    opacity: 0.5;
}

.about-team {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
}
.about-team-list {
    width: 1058px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-team-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-team-list-item-name {
    margin-top: 15px;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
}
.about-team-list-item-job {
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color: #7F7F7F;
}
.about-team-list-item-twit {
    margin-top: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.about-team-list-item-twit span{
    color: #326DF9;
}

@media screen and (max-width: 1200px) {
    .about-missing-info-title {
        font-size: 55px;
        line-height: 90px;
    }
    .about-missing-info-subtitle {
        font-weight: 400;
        font-size: 25px;
        line-height: 45px;
    }
    .about-missing-info-text {
        margin-top: 60px;
        width: 900px;
        font-size: 20px;
        line-height: 37px;
    }
    .about-missing-info-text p {
        margin-top: 20px;
    }
    hr {
        margin-top: 40px;
    }
    .about-team-list {
        width: 900px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 1054px) {
    .about-missing-info-text {
        margin-top: 50px;
        width: 800px;
        line-height: 35px;
    }
    .about-team-list {
        width: 800px;
        margin-top: 50px;
    }
}


@media screen and (max-width: 991px) {
    .about {
        padding: 50px 0;
    }
    
    .about-missing {
        font-size: 20px;
        line-height: 25px;
    }
    .about-missing-info-title {
        font-size: 45px;
        line-height: 70px;
    }
    .about-missing-info-subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
    }
    .about-missing-info-text {
        margin-top: 30px;
        width: 650px;
        font-size: 17px;
        text-align: center;
        line-height: 35px;
    }
    .about-team-list {
        width: 600px;
        margin-top: 30px;
    }
    .about-team-list-item-name {
        margin-top: 10px;
        font-size: 20px;
        line-height: 27px;
    }
    .about-team-list-item-job {
        font-size: 15px;
        line-height: 20px;
    }
    .about-team-list-item-twit {
        margin-top: 20px;
        font-size: 15px;
        line-height: 20px;
    }
}
@media screen and (max-width: 767px) {
    .about-missing-info-title {
        font-size: 35px;
        line-height: 50px;
    }
    .about-missing-info-subtitle {
        font-size: 15px;
        line-height: 25px;
    }
    .about-missing-info-text {
        margin-top: 20px;
        width: 550px;
        font-size: 15px;
        line-height: 25px;
    }
    .about-team {
        margin-top: 50px;
    }
    .about-missing {
        margin-top: 0;
    }
    .about-team-list {
        width: 550px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 580px) {
    .about-missing-info-title {
        font-size: 30px;
        line-height: 40px;
    }
    .about-missing-info-subtitle {
        font-size: 12px;
        line-height: 20px;
    }
    .about-missing-info-text {
        margin-top: 20px;
        width: 450px;
        font-size: 15px;
        line-height: 25px;
    }
    .about-team-list {
        width: 450px;
        margin-top: 20px;
    }
    .about-team {
        margin-top: 30px;
    }
    .about-team-list-item-name {
        font-size: 15px;
        line-height: 25px;
    }
    .about-team-list-item-job {
        font-size: 12px;
        line-height: 20px;
    }
    .about-team-list-item-twit {
        font-size: 12px;
        line-height: 0px;
    }
}

@media screen and (max-width: 480px) {
    .about-missing-info-title {
        font-size: 25px;
        line-height: 35px;
    }
    .about-missing-info-subtitle {
        font-size: 10px;
        line-height: 15px;
    }
    .about-missing-info-text {
        margin-top: 20px;
        width: 320px;
        font-size: 10px;
        line-height: 20px;
    }
    .about-team-list {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin-top: 20px;
    }
    .about-team-list-item {
        margin-top: 15px;
    }
   
    .about-team-list-item-name {
        font-size: 15px;
        line-height: 25px;
    }
    .about-team-list-item-job {
        font-size: 10px;
        line-height: 20px;
    }
    .about-team-list-item-twit {
        font-size: 10px;
        line-height: 0px;
    }
}

@media screen and (max-width: 320px) {
    .about {
        padding: 30px 0;
    }
    .about-missing-info-title {
        font-size: 20px;
        line-height: 35px;
    }
    .about-missing-info-text {
        width: 250px;
    }
    .about-team-list {
        width: 320px;
    }
    .about-team-list-item {
        margin-top: 15px;
    }
   
    .about-team-list-item-name {
        font-size: 15px;
        line-height: 25px;
    }
    .about-team-list-item-job {
        font-size: 10px;
        line-height: 20px;
    }
    .about-team-list-item-twit {
        font-size: 10px;
        line-height: 0px;
    }
}