
.passField svg {
    color: #FFF;
    position: absolute;
    right: 17px;
    top: 25px;
}
.passField label {
    color: #707070;
    top: 59px
}
.passField input {
    margin-top: 60px;
    position: relative;
    width: 487px;
    color: #FFF;
    border-bottom: 1px solid #fff;
    outline: none;
}
@media screen and (max-width: 580px) {
    .passField input{
        width: 300px;
        margin-top: 30px;
    }
    .passField svg {
        right: 21px;
        top: 11px;
    }
    .passField label {
        top: 33px;
    }
}
@media screen and (max-width: 475px) {
    .passField input{
        width: 250px;
    }
}